This is artist view
Music by {{artistName}}
			<table class="responsive-table hoverable centered bordered">
				<thead>
					<tr>
						<th>Title</th>
						<th>Uploader</th>
						<th>Album Name</th>
						<th>Track Length</th>
						<th>Times Played</th>
						<th>Views</th>					
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="music in artists">
						<td>{{ music.music_title }}</td>
						<td>{{ music.username }}</td>
						<td>{{ music.album_name }}</td>
						<td>{{ music.music_length }}</td>
						<td>{{ music.times_played }}</td>
						<td>{{ music.views }}</td>
						<td>
							<a href="#/musicView/{{music.music_id}}" class="btn waves-effect waves-light brown darken-1">Play</a>
						</td>
					</tr>
				</tbody>
			</table>