<h1>Music View Goes here!</h1>

	<p class="col m3">title: {{ specificMusic.music_title }}</p> 
	<p class="col m3">artist: {{ specificMusic.artist_name }}</p>
	<p class="col m3">length: {{ specificMusic.music_length }}</p>
	<p class="col m3">times played: {{ specificMusic.times_played }}</p>
	<p class="col m3">views: {{ specificMusic.views }}</p>
	<p class="col m3">file-path: {{ specificMusic.file_path }}</p>
	<!-- <audio ></audio> -->

	<audio controls>
		<!-- <source src="horse.ogg" type="audio/ogg"> -->
		<!-- <source ng-src="{{specificMusic.file_path}}" type="audio/mpeg"> -->
		<source src="uploads/asd.mp3" type="audio/mpeg">


		Your browser does not support the audio element.
	</audio>