<div class="container">
	<h2 class="text_h2 brown-text text-darken-4">{{ specificMusic.music_title }}</h2>
	<p class="col m3">artist: {{ specificMusic.artist_name }}</p>
	<p class="col m3">length: {{ specificMusic.music_length }}</p>
	<p class="col m3">times played: {{ specificMusic.times_played }}</p>
	<p class="col m3">views: {{ specificMusic.views }}</p>
	<p class="col m3">file-path: {{ specificMusic.file_path }}</p>
	<p class="col m3">Number of Recommendations: {{ recommendations.length }}</p>
	<!-- <audio ></audio> -->

	<audio controls ng-src="{{specificMusic.file_path}}">
		<!-- <source src="horse.ogg" type="audio/ogg"> -->
		<!-- <source ng-src="{{specificMusic.file_path}}" type="audio/mpeg"> -->
		<!-- <source ng-src="{{ specificMusic.file_path }}" type="audio/mpeg"> -->
		
<!-- 		<source ng-src="specificMusic.file_path" type="audio/mpeg">
		Your browser does not support the audio element.
 -->	</audio>

	<ul ng-if="recommendations.length > 0">
		<li>List of people who recommend this song</li>
		<li ng-repeat="recommendation in recommendations track by $index">
			{{ recommendation.username }}
		</li>
	</ul>

	<span ng-if="recommendations.length === 0">Nobody has recommended this song</span>


	<button ng-click="recommend()">Recommend!</button>
	<!-- <span ng-if="(recommendations.indexOf(username) !== -1)"> You have already recommended this song</span>
 -->
</div>
