<div>
	<img src="img/parallax1.png" class="backgroundimage">
	<div class="container" style="position:relative;">
		<br><br>
	 	<h2 class="thinify white-text text_h2"> Welcome to Spotify. </h2>
	 	<br><br> 	
		<div class="row">
			<div class="col s12 m4">
				<div class="card z-depth-3">
		            <div class="card-image brown">
		            	<img src="img/project1.jpg" style="width:100%; height:100%;">
		            	<span class="card-title">Charts</span>
		            </div>
		            <div class="card-content">
		              <p>Stay tuned and be up-to-date with the week's most viewed songs.</p>
		            </div>
		            <div class="card-action center">
		              <input class="btn waves-effect waves-light brown darken-1" type="button" value="PLAY">
		            </div>
		        </div>
			</div>
			<div class="col s12 m4">
					<div class="card z-depth-3">
		            <div class="card-image">
		            	<img src="img/project2.jpg" style="width:100%; height:100%;">
		            	<span class="card-title">New Releases</span>
		            </div>
		            <div class="card-content">
		              <p>Tired of listening to the same playlist over and over? Try this.</p>
		            </div>
		            <div class="card-action center">
		              <input class="btn waves-effect waves-light brown darken-1" type="button" value="TRY">
		            </div>
		        </div>
			</div>
			<div class="col s12 m4">
					<div class="card z-depth-3">
		            <div class="card-image brown darken-2">
		            <img src="img/project3.jpg" style="width:100%; height:100%;">
		            	<span class="card-title">Make your own</span>
		            </div>
		            <div class="card-content">
		              <p>Define who you are. Make your own and share it to the world.</p>
		            </div>
		            <div class="card-action center">
		              <input class="btn waves-effect waves-light brown darken-1" type="button" value="BEGIN">
		            </div>
		        </div>
			</div>
		</div>	
	</div>	
</div>