<div class="container">
	<h2 class="text_h2 brown-text text-darken-4">My Music</h2>
	<div class="row">
		<div class="col s4 offset-8">


          <div class="card">
            <div class="card-image">
              <img src="img/parallax1.png" style="height:90px;">
              <span class="card-title">
              	Add Music
              </span>
            </div>
            <div class="card-content">
             	<form>
					<input type="text" placeholder = "Track Title" ng-model="addTrackTitle" required>
					<input type="text" placeholder = "Track Artist" ng-model="addTrackArtist"required>
					<input type="text" placeholder = "Track Length" ng-model="addTrackLength"required>
					<input type="text" placeholder = "Album Name" ng-model="addTrackAlbum"required>
				</form>
            </div>
            <div class="card-action center">
              <input class="btn waves-effect waves-light brown darken-1" type="button" value="Add Track" ng-click="addMusic()">
            </div>
          </div>

			
			
		</div>

		<div class="col s8">
			<div ng-if="tracks.length === 0">No music added yet</div>

			<table class="responsive-table hoverable centered bordered" ng-if="tracks.length > 0">
				<thead>
					<tr>
						<th>Title</th>
						<th>Artist</th>
						<th>Track Length</th>
						<th>Times Played</th>
						<th>Album Name</th>
						<th>Views</th>					
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="music in tracks">
						<td>{{ music.music_title }}</td>
						<td>{{ music.artist_name }}</td>
						<td>{{ music.music_length }}</td>
						<td>{{ music.times_played }}</td>
						<td>{{ music.album_name }}</td>
						<td>{{ music.views }}</td>
						<td>
								<a href="#/musicView/{{music.music_id}}" class="btn waves-effect waves-light brown darken-1">Play</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
