<h1>Music Goes here!</h1>

<form>

<input type="text" placeholder = "Track Title" ng-model="addTrackTitle">
<input type="text" placeholder = "Track Artist" ng-model="addTrackArtist">
<input type="text" placeholder = "Track Length" ng-model="addTrackLength">
<input type="button" value="Add Track" ng-click="addMusic()">

<hr>
<hr>

</form>


<div ng-if="!musicLength">No music added yet</div>

<table class="highlight centered striped" ng-if="musicLength">
	<thead>
		<tr class="row">
			<td class="col m3">Title</td>
			<td class="col m3">Artist</td>
			<td class="col m3">Track Length</td>
			<td class="col m3">Times Played</td>
			<td class="col m3">Views</td>					
			<td class="col m3">Action</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="music in tracks" class="row">
			<td class="col m3">{{ music.music_title }}</td>
			<td class="col m3">{{ music.artist_name }}</td>
			<td class="col m3">{{ music.music_length }}</td>
			<td class="col m3">{{ music.times_played }}</td>
			<td class="col m3">{{ music.views }}</td>
			<td class="col m3">
				<div class="row">
					<input class="btn btn-default col m6" type="button" value="Download">
				</div>
			</td>
		</tr>
	</tbody>
</table>
