<div class="container">
	<h2 class="text_h2 brown-text text-darken-4">Music</h2>
	<div class="row">
		<div class="col s4 offset8">
			<h4 class="text_h2 brown-text text-darken-4">Add Music</h4>
			<form>

			<input type="text" placeholder = "Track Title" ng-model="addTrackTitle"required>
			<input type="text" placeholder = "Track Artist" ng-model="addTrackArtist"required>
			<input type="text" placeholder = "Track Length" ng-model="addTrackLength"required>
			<input type="text" placeholder = "Album Name" ng-model="addTrackAlbum"required>
			<input type="button" value="Add Track" ng-click="addMusic()">

			<hr>
			</form>
		</div>

		<div class="col s8">
			<h3>My Music</h3>
			<div ng-if="tracks.length === 0">No music added yet</div>
</form>


<div ng-if="!musicLength">No music added yet</div>

<table class="highlight centered striped" ng-if="musicLength">
	<thead>
		<tr class="row">
			<td class="col m3">Title</td>
			<td class="col m3">Artist</td>
			<td class="col m3">Track Length</td>
			<td class="col m3">Times Played</td>
			<td class="col m3">Views</td>					
			<td class="col m3">Action</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="music in tracks" class="row">
			<td class="col m3">{{ music.music_title }}</td>
			<td class="col m3">{{ music.artist_name }}</td>
			<td class="col m3">{{ music.music_length }}</td>
			<td class="col m3">{{ music.times_played }}</td>
			<td class="col m3">{{ music.views }}</td>
			<td class="col m3">
				<div class="row">
					<a  href="#/musicView/{{music.music_id}}" class="btn btn-default col m6"> View </a>
				</div>
			</td>
		</tr>
	</tbody>
</table>