<!DOCTYPE html>
<html lang="en" ng-app="spotifyApp">
<head>
	<meta charset="UTF-8">
	<title>Spotify</title>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link rel="stylesheet" href="/stylesheets/materialize.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">


	<style>
	input.ng-invalid.$dirty{ border: 1px solid red;}
	</style>
</head>

<body  class="brown" ng-app="spotifyApp">
  <div ng-view=""></div>

  </div>

		<footer class="page-footer grey lighten-4">
			<div class="container">
				<div class="row">
					<div class="col s6">
						<h5 class="brown-text text-brown">Music for now.</h5>
						<p class="grey-text text-darken-1">Spotify is all the music you'll ever need. Listen free or subscribe to
						<a class="pink-text text-darken-2">Spotify Premium</a>.
							Play on-demand, offline and ad-free.
						<a class="pink-text text-darken-2">Free trial</a>.</p>
					</div>
					<div class="col s6">
						<h5 class="brown-text text-brown">Links</h5>
							<a id="linkbutton" class="waves-effect waves-light btn grey darken-4 white-text">Facebook</a></li>
							<a id="linkbutton" class="waves-effect waves-light btn grey darken-4 white-text">Twitter</a></li>
							<a id="linkbutton" class="waves-effect waves-light btn grey darken-4 white-text">Instagram</a></li>
					</div>
				</div>
			</div>

			<div class="footer-copyright grey lighten-2">
				<div class="row">
					<div class="col s6 offset-s5">
						<p class="black-text">All Rights Reserved <a class="pink-text text-darken-2">SPOTIFY</a> 2015.</p>
					</div>
				</div>
			</div>

	</footer>

</body>

	<script src="/javascripts/angular.min.js"></script>
	<script src="/javascripts/angular-route.min.js"></script>
	<script src="/javascripts/spotifyApp.js"></script>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/materialize.min.js"></script>
	<script src="/javascripts/script.js"></script>
</html>
