<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">

    <title>Spotify</title>

    <!-- ==========================CSS===================================  -->
    <link href="/public/stylesheets/min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="/public/stylesheets/min/custom-min.css" type="text/css" rel="stylesheet">	
    <link href="css/home.css" type="text/css" rel="stylesheet">
</head>

<body id="top" class="scrollspy" ng-app="spotifyApp">

<!--======================================NAVIGATION============================================-->

<!--navbar starts here-->

<div>
	<ul class="side-nav fixed white-text text-darken-4 z-depth-3" style="width:20%">
		 <div ng-controller="ProfileCtrl" >
				<h2 class="center header text_h2 brown-text">SPOTIFY</h2>
			<div class="waves-effect waves-block waves-light card-avatar center">
				<img class="z-depth-1 white" ng-src="{{user.picture}}">
			</div>
		</div>

		<div class="row">
        	<div class="input-field col s12">
          		<input id="search" type="text" class="validate brown-text text-darken-4">
    	  		<label for="search">Search</label>
    		</div>
      	</div>

	    <div ng-controller="ProfileCtrl">
	      	<li>
				<a href="#/profile" class="smallify mdi-action-assessment prefix brown-text text-darken-4"> My Profile</a>
			</li>
		</div>

		<div class="divider"></div>

		<li>
			<a href="#/subscriptions" class="smallify mdi-action-label prefix brown-text text-darken-4"> Subscriptions</a>
		</li>

		<li>
			<a href="#/music" class="smallify mdi-action-label prefix brown-text text-darken-4"> My Music</a>
		</li>

		<li>
			<a href="#/playlist" class="smallify mdi-action-label prefix brown-text text-darken-4"> My Playlists</a>
		</li>

		<div class="divider"></div>

		<li>
			<!-- popular songs nalang please -->
			<a href="#/popular" class="smallify mdi-action-stars prefix brown-text text-darken-4"> Popular Songs</a>
		</li>

		<li>
			<a href="#/artist" class="smallify mdi-action-stars prefix brown-text text-darken-4"> Artists</a>
		</li>

		<div class="divider"></div>

		<div ng-controller="ProfileCtrl">
			
			<div ng-if="user.isadmin">
				
				<li>
					<a href="#/admin" class="smallify mdi-action-reorder prefix brown-text text-darken-4"> Pending Accounts</a>
				</li>
				
				<div class="divider"></div>

			</div>

		</div>

		<div ng-controller="IndexCtrl">
			<li>
				<a href="#" class="smallify mdi-action-assessment prefix brown-text text-darken-4" ng-click="logout()"> Logout</a>
			</li>
		</div>
	</ul>
	<!-- End Navigation Here! -->
<!-- End Left sidebar Here! -->

	<!-- Main Div to change -->
	<div style="margin-left:20%">
		<!-- Search bar goes here -->
		<div>
			
				<div class="section brown darken-4" id="normal-banner">
					<div ng-controller="ProfileCtrl" >
						<h4  id="logo-container" class="white-text rightify header">{{user.username}}</h4>
					</div>
				</div>
			
		</div>
		<!-- End of main navbar -->

		<!-- Start of main div -->
		<div>
			<div ng-view></div>
			<!-- ng-view goes here -->
		</div>
		<!-- End of main Div -->
		
	</div>
<!--  end of main div -->
</body>
<!--==========================================SCRIPTS============================================= -->
<!-- <script src="/public/stylesheets/min/plugin-min.js"></script> -->
<script src="/javascripts/jquery-2.1.1.min.js"></script>
<script src="/public/javascripts/script.js"></script>
<!-- <script src="/public/stylesheets/min/custom-min.js"></script> -->
<script src="/javascripts/materialize.min.js"></script>
<script src="/public/javascripts/angular.min.js"></script>
<script src="/public/javascripts/angular-route.min.js"></script>
<script src="/public/javascripts/spotifyApp.js"></script>
<script src="/public/javascripts/indexController.js"></script>
<script src="/public/partials/artist/artist.controller.js"></script>
<script src="/public/partials/home/home.controller.js"></script>
<script src="/public/partials/admin/admin.controller.js"></script>
<script src="/public/partials/playlist/playlist.controller.js"></script>
<script src="/public/partials/profile/profile.controller.js"></script>
<script src="/public/partials/search/search.controller.js"></script>
<script src="/public/partials/popular/popular.controller.js"></script>
<script src="/public/partials/MusicView/musicView.controller.js"></script>
<script src="/public/partials/ArtistView/artistView.controller.js"></script>
<script src="/public/partials/music/music.controller.js"></script>
</html>
