<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mattify</title>
	<link rel="stylesheet" href="/stylesheets/materialize.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col s3 offset-s9">
				<form class="login-form">
					<input type="text" name="username" id="username">
					<input type="password" name="" id="password">
					<input type="submit" value="Log in!">
				</form>		
			</div>
		</div>


	</div>
</body>

	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/materialize.min.js"></script>
	<script src="/javascripts/angular.min.js"></script>
	<script src="/javascripts/script.js"></script>
</html>