<!DOCTYPE html>
<html>
	<head>
		<title>Spotify</title>
		<meta charset="utf-8"/>
	</head>
	<body ng-app="spotifyApp">
		<div ng-view=""></div>
		<script src="/javascripts/angular.min.js"></script>
		<script src="/javascripts/angular-route.min.js"></script>
		<script src="/javascripts/spotifyApp.js"></script>
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/materialize.min.js"></script>
		<script src="/javascripts/script.js"></script>

		<script src="/partials/home/home.controller.js"></script>
		<script src="/partials/home/home.service.js"></script>
	</body>
</html>
