/* By yours truly, Bes <3*/

.smallify {
	height: 20px !important;
	line-height: inherit !important;
}

.backgroundimage{
	width:100%;
	padding: 0;
	margin: 0;
	position: absolute;
}

.thinify{
	padding: 0;
	margin: 0; 
}

/* label color */
.input-field label {
 color: #795548;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #795548;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #795548;
 box-shadow: 0 1px 0 0 #795548;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #795548;
 box-shadow: 0 1px 0 0 #795548;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #795548;
 box-shadow: 0 1px 0 0 #795548;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #795548;
}

.side-nav li {
    float: none;
    padding: 6px 15px;
}

.rightify{
	text-align: right;
	margin-right: 50px;
}

#profileimg{
	height: 300px;
	width: 300px;
	border-radius: 75px;
}

#profilecenter{
	margin-top: 10%;
}

.incard{
	height: 200px;
	width: 220px;
}

.card-image{
	height:90px;
}

.card-image img{
	position: inherit;
}

.card-content{
	padding: 0px;
}

.card-content p{
	font-size: 9;
	margin-right: 0px;
}
 .card-tile{
 	font-size: 10px;
 }

.container{
	width: 80%;
}

#musiccard{
	width:90px;
}