<div class="container">
	<h2 class="text_h2 brown-text text-darken-4">Popular Songs</h2>

	<table class="responsive-table hoverable centered bordered">
		<thead>
			<tr>
				<th>Track ID</th>
				<th>Title</th>
				<th>Track Length</th>
				<th>Times Played</th>
				<th>Views</th>					
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="popular in populars" class="row">
				<td class="col m3">{{ popular.music_id }}</td>
				<td class="col m3">{{ popular.music_title }}</td>
				<td class="col m3">{{ popular.music_length }}</td>
				<td class="col m3">{{ popular.times_played }}</td>
				<td class="col m3">{{ popular.views }}</td>
				<td class="col m3">
					<div class="row">
						<input class="btn btn-default col m6" type="button" value="Download">
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>