<div class="container">
	<h2 class="text_h2 brown-text text-darken-4">Popular Songs</h2>

	<table class="responsive-table hoverable centered bordered">
		<thead>
			<tr>
				<th>Track ID</th>
				<th>Title</th>
				<th>Track Length</th>
				<th>Times Played</th>
				<th>Views</th>					
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="popular in populars" class="row">
				<td>{{ popular.music_id }}</td>
				<td>{{ popular.music_title }}</td>
				<td>{{ popular.music_length }}</td>
				<td>{{ popular.times_played }}</td>
				<td>{{ popular.views }}</td>
				<td>
					<div class="center row">
						<a href="#/musicView/{{music.music_id}}" class="btn waves-effect waves-light brown darken-1">Play</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>