<div class="container">
	<div class="row">
		<div class="col s6">
			<h4 class="text_h2 brown-text text-darken-4">Pending Accounts</h4>
				
				<div class="row">
					<div ng-repeat="account in adminAccounts" >
			            <div class="col s12 m6">
			                <div class="card incard">
			                    <div class="card-image waves-effect waves-block waves-light">
			                        <img class="activator" src="img/project2.jpeg">
			                    </div>

			                    <div class="card-content">
			                        <span class="card-title activator grey-text text-darken-4">{{account.username}}
			                        <i class="mdi-navigation-more-vert right"></i></span>
			                    </div>
			                    <div class="card-reveal center">
			                        <span class="card-title grey-text text-darken-4">{{account.fname}} {{account.lname}}<i class="mdi-navigation-close right"></i></span>

			                        <input class="btn waves-effect waves-light brown darken-1" type="button" value="Approve" ng-click="approve(account.users_id)">

			                    </div>

			                </div>
			            </div>
			        </div>
		        </div>


<!-- 
			<table class="highlight centered striped">
				<thead>
					<tr class="row">
						<td class="col m3">Username</td>
						<td class="col m3">First Name</td>
						<td class="col m3">Last Name</td>
						<td class="col m3">Action</td>
					</tr>
				</thead>
				<tbody>
					
					<tr ng-repeat="account in adminAccounts" class="row">
						<td class="col m3">{{ account.username }}</td>
						<td class="col m3">{{ account.fname }}</td>
						<td class="col m3">{{ account.lname }}</td>
						<td class="col m3">
							<div class="row">
								<input class="btn btn-default col m6" type="button" value="Approve" ng-click="approve( account.users_id)">
							</div>
						</td>
					</tr>
				</tbody>
			</table> -->
		</div>
		<div class="col s6">
			<h4 class="text_h2 brown-text text-darken-4">User Accounts</h3>
			<input type="date" name="" id="">
			<table class="highlight centered striped">
				<thead>
					<tr class="row">
						<td class="col m3">Username</td>
						<td class="col m3">First Name</td>
						<td class="col m3">Last Name</td>
						<td class="col m3">Date Approved</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="account in approvedAccounts" class="row">
						<td class="col m3">{{ account.username }}</td>
						<td class="col m3">{{ account.fname }}</td>
						<td class="col m3">{{ account.lname }}</td>
						<td class="col m3">{{ account.dateapproved | date:'MMMM dd, yyyy' }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>