html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer{
  position: absolute;
  width: 100%;
  bottom: 0;
}

h6{
    margin-left: 40px;
    font-weight: bolder;
}

 .input-field{
   padding: 0px;
 }
/* label color */
 .input-field label {
   color: #C0C0C0
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #C0C0C0
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #C0C0C0;
   box-shadow: 0 1px 0 0 #C0C0C0;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #C0C0C0;
   box-shadow: 0 1px 0 0 #C0C0C0;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #C0C0C0;
   box-shadow: 0 1px 0 0 #C0C0C0;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #C0C0C0;
 }

#bold{
  font-weight: bolder;
}

#navmargin{
  margin-right: 50px;
}

#iconimg{
  height: 410px;
  width: 410px;
}

#bodyButton{
  margin-top: 15px;
  margin-left: 150px;
  margin-bottom: 15px;
}

#linkbutton{
  border-radius: 20px;
  outline-style: groove;
  outline-color: white;
}

#topicon{
  height: 100px;
  width: 100px;
}

#homeh5{
  margin-left: 45px;
}

#submitbutton{
  margin-top: 20px;
  margin-left: 130px;
}

#loginIcon{
  height: 150px;
  width: 150px;
  margin-top: 50px;
}
