<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spotify</title>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link rel="stylesheet" href="/stylesheets/materialize.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="brown">
	<div id="home">
		

		<div class="container">
			<div class="row">
				<div class="valign-wrapper">
					<div>
					 <img id="iconimg" class="responsive-img" src="/images/icon.png">
				 	</div>

				 <div>
					 <h4 id="bold" class="grey-text text-lighten-4">THIS IS LOGIN</h4>
					 <h5 id="homeh5" class="grey-text text-lighten-4">Listen to million of songs for free!</h5>
					 <a id="bodyButton" class="waves-effect waves-light btn grey"></i>Start</a>
					 <hr>
					 <h6 class="grey-text text-lighten-5">By clicking <a class="pink-text text-lighten-4">Start
					 </a> you agree to Spotify's <a class="pink-text text-lighten-4">Condition of use.</a></h6>
				 </div>
				</div>
			</div>
		</div>
	</div>

	
</body>
</html>
