<div class="container">
	<h2 class="text_h2 brown-text text-darken-4">{{albumName	}}</h2>

	<table class="hoverable centered bordered">
				<thead>
					<tr>
						<th>Music Titla</th>
						<th>Music Artist</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="albumMusic in albumView" class="row">
						<td>{{ albumMusic.music_title }}</td>
						<td>{{ albumMusic.artist_name }}</td>
						<td>
							<div class="center row">
								<a href="#/musicView/{{albumMusic.music_id}}" class="btn waves-effect waves-light brown darken-1">Play</a>
							</div>
						</td>
					</tr>
				</tbody>
	</table>
</div>