<h1>Artists go here!</h1>

<table class="highlight centered striped">
			<thead>
				<tr class="row">
					<td class="col m3">Artist ID</td>
					<td class="col m3">Artist Name</td>
					<td class="col m3">Action</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="artist in artists" class="row">
					<td class="col m3">{{ artist.artist_id }}</td>
					<td class="col m3">{{ artist.artist_name }}</td>
					<td class="col m3">
						<div class="row">
							<a href="#/artistView/{{artist.artist_id}}" class="btn btn-default col m6">View</a>
						</div>
					</td>
				</tr>
			</tbody>
</table>
