<div class="container">

	<h2 class="text_h2 brown-text text-darken-4">Artists</h2>


	<table class="responsive-table hoverable centered bordered">
				<thead>
					<tr>
						<th>Artist ID</th>
						<th>Artist Name</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="artist in artists" class="row">
						<td>{{ artist.artist_id }}</td>
						<td>{{ artist.artist_name }}</td>
						<td>
							<div class="center row">
								<a href="#/artistView/{{artist.artist_id}}" class="btn waves-effect waves-light brown darken-1">Play</a>
							</div>
						</td>
					</tr>
				</tbody>
	</table>
</div>