 <div class="container">
	<h2 class="text_h2 brown-text text-darken-4">Playlists</h2>

	<div class="row">
        <div class="card thinify">
            <div class="card-image">
	              <img src="img/parallax1.png" style="height:90px;">
	              <span class="card-title">
	              	My Playlist
	              </span>
            </div>

            <div class="card-content">
            	<table class="hoverable centered bordered">
            		<thead>
            			<tr>
            				<th>Name</th>
            				<th>Date Created</th>
            				<th>Action</th>
            			</tr>
            		</thead>
            		<tbody>
            			<tr ng-repeat="playlist in playlists">
            				<td>{{playlist.playlistname}}</td>
            				<td>{{playlist.date_created | date:'MMMM dd, yyyy'}}</td>
            				<td>
							<div class="center row">
								<a href="#/playlistView/{{playlist.playlist_id}}" class="btn waves-effect waves-light brown darken-1">Play</a>
							</div>
						</td>
            			</tr>
            		</tbody>
            	</table>
            </div>
        </div>
	</div>

	<div class="row">
		<div class="card thinify">
			<div class="card-image">
	              <img src="img/parallax1.png" style="height:90px;">
	              <span class="card-title">
	              	Create a Playlist
	              </span>
            </div>

            <div class="card-content">

				<div class="col s6">					
					<!--Enter Playlist Name-->
					<form>
						<div class="input-field">
							<input class="col s9" id="search" type="search" ng-model="playlistName" required>
							<!-- <input type="button" value="Create!" ng-click="create()"> -->
							<a class="btn white-text waves-effect waves-light brown darken-1" ng-click="create()">Create!</a>
						</td>
						</div>
					</form>

					<!--Playlist songs table-->
					<table class="hoverable centered bordered">
						<thead>	
							<div>
								<th >Title</th>
								<th >Name</th>
								<th >Uploader</th>
								<th >Album</th>
								<th >Plays</th>
								<th >Options</th>
							</div>
						</thead>
						<tbody>				
							<tr ng-repeat="music in toCreate track by $index">
								<td >{{ music.music_title }}</td>
								<td>{{ music.artist_name }}</td>
								<td>{{ music.username }}</td>
								<td>{{ music.album_name }}</td>
								<td>{{ music.times_played }}</td>
								<td><input type="button" value="Remove" ng-click="remove(music.music_id)"></td>
							</tr>
						</tbody>
					</table>
					<!--End of Playlist table-->
				</div>
				<!--End of Add a playlist-->

				<div class="col s6 offset-6">

					<h5 class="text_h2 brown-text text-darken-4">Search a song</h5>
					
					<form class="row">
						<div class="input-field">
							<input class="col s9" id="search" type="search" ng-model="query">
							<label for="search"><i class="material-icons">Search</i></label>
						</div>
						<input class="col s3" type="button" value="Search" ng-click="search()">
					</form>

					<table class="hoverable centered bordered">
						<thead>	
							<div class="row">
								<th>Title</th>
								<th>Artist</th>
								<th>Uploader</th>
								<th>Album</th>
								<th>Plays</th>
								<th>Options</th>
							</div>
						</thead>
						<tbody>
							<tr ng-repeat="music in musicList">
								<td>{{ music.music_title }}</td>
								<td>{{ music.artist_name }}</td>
								<td>{{ music.username }}</td>
								<td>{{ music.album_name }}</td>
								<td>{{ music.times_played }}</td>
								<td><input type="button" value="Add" ng-click="add(music.music_id)"></td>
							</tr>
						</tbody>
					</table>

					<div ng-if="musicList.length === 0">
						<p>Empty List</p>
					</div>	
				</div>	
			</div>
		</div>
	</div>
</div>