<div class="container" id="profilecenter">
    <div class="row">
      <div class="col s6">
      	<img ng-src="{{user.picture}}" id="profileimg" class="center"></img>
      </div>
      <div class="col s6">
      	<h6 class="text_h brown-text text-darken-4" style="padding: 2px;">{{ user.username }}</h6>
		<p class="brown-text text-darken-4">First Name: {{ user.fname }}</p>
		<p class="brown-text text-darken-4">Last Name: {{ user.lname }}</p>
		<p class="brown-text text-darken-4">Email: {{ user.email }}</p>
		<p class="brown-text text-darken-4">Date Approved: {{ user.dateapproved | date:'MMMM dd, yyyy' }}</p>
      </div>
    </div>


	
</div>